/* 	----------------------------------------
	:: GRID SCHEME (NO EDIT!)
	----------------------------------------
*/
#njokee-grid-container > div {padding: 5px; margin: 5px 5px; text-align: center;}
#njokee-grid-container {display: grid; grid-template-columns: repeat(12, 1fr); grid-row: 0.5em;}
.n-grid1-100 {grid-column: 1/13;}
.n-grid1-50-1, .n-grid3-50-1 {grid-column: 1/7;}
.n-grid1-50-2, .n-grid3-50-2 {grid-column: 7/13;}
.n-grid1-33-1, .n-grid2-30-1, .n-grid3-30-1 {grid-column: 1/5;}
.n-grid1-33-2, .n-grid2-40-2 {grid-column: 5/9;}
.n-grid1-33-3, .n-grid2-30-3, .n-grid3-30-2 {grid-column: 9/13;}
.n-grid1-25-1, .n-grid2-20-1, .n-grid3-20-1 {grid-column: 1/4;}
.n-grid1-25-2 {grid-column: 4/7;}
.n-grid1-25-3 {grid-column: 7/10;}
.n-grid1-25-4, .n-grid2-20-3, .n-grid3-20-2 {grid-column: 10/13;}
.n-grid2-10-1, .n-grid3-10-1 {grid-column: 1/3;}
.n-grid2-80-2 {grid-column: 3/11;}
.n-grid2-10-3, .n-grid3-10-2 {grid-column: 11/13;}
.n-grid2-60-2 {grid-column: 4/10;}
.n-grid2-40-1, .n-grid3-40-1 {grid-column: 1/6;}
.n-grid2-30-2 {grid-column: 6/8;}
.n-grid2-40-3, .n-grid3-40-2 {grid-column: 8/13;}
.n-grid3-90-2, .n-grid3-80-2, .n-grid3-70-2 {grid-column: 5/13;}
.n-grid3-60-2, .n-grid3-60-1 {grid-column: 1/8;}
.n-grid3-70-1, .n-grid3-80-1, .n-grid3-90-1 {grid-column: 1/11;}